.productContainet {
  width: 200px;
  margin: 0 10px;
}
.productContainet .productImageContainer {
  width: 150px;
  height: 150px;
  overflow: hidden;
  text-align: center;
  margin: 10px auto;
}
.productContainet .productImageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.productInfo {
  text-align: center;
  font-size: 12px;
}
.productPrice {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
}
.productDescriptionContainer {
  display: flex;
  box-sizing: border-box;
  padding: 10px;
}
.verticalImageStack {
  width: 67px;
  display: flex;
  flex-direction: column;
}
.thumbnail {
  width: 63px;
  height: 63px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  text-align: center;
}
.thumbnail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.thumbnail.active {
  border: 2px solid #2874f0;
}
.productDescContainer {
  width: 485px;
}
.productDescImgContainer {
  width: 485px;
  height: 440px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #f0f0f0;
}
.productDescImgContainer > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.breed ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.breed ul li {
  list-style: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.breed ul li a {
  text-decoration: none;
  color: #777;
  display: inline-block;
  font-size: 12px;
  margin: 0 10px;
}
.productDetails {
  margin: 0 10px;
}
.productDetails .productTitle {
  font-size: 18px;
  color: #212121;
  font-weight: 400;
}
.ratingCount {
  display: inline-block;
  background: #388e3c;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  border-radius: 3px;
  padding: 2px 5px;
}
.ratingNumbersReviews {
  font-size: 12px;
  color: #777;
  font-weight: 600;
  display: inline-block;
  margin: 0 10px;
}
.extraOffer,
.discount {
  color: #388e3c;
  font-size: 12px;
  margin: 10px 0px;
  font-weight: 600;
}
.priceContainer {
  align-items: center;
}
.price {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.cartContainer {
  display: flex;
  max-width: 1260px;
  margin: 15px auto;
  justify-content: space-between;
}
.cartItemDetails {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.cartItemContainer {
  margin: 10px 5px;
}
.cartProImgContainer {
  width: 112px;
  height: 112px;
  overflow: hidden;
  text-align: center;
}
.cartProImgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.cartProImgContainer {
  width: 112px;
  height: 112px;
  overflow: hidden;
  text-align: center;
}
.cartProImgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.cartActionBtn {
  margin: 0 10px;
  font-family: "Roboto";
  font-weight: 600;
  text-transform: uppercase;
  background: transparent;
  border: none;
  color: #212121;
  cursor: pointer;
  font-size: 15px;
}
.quantityControl {
  display: flex;
  align-items: center;
}
.quantityControl button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  border: 1px solid #c2c2c2;
  background-color: transparent;
}
.quantityControl input {
  width: 40px;
  height: 20px;
  border: 1px solid #c2c2c2;
  margin: 0 5px;
  text-align: center;
}
.checkoutContainer {
  width: calc(100% - 400px);
}
.checkoutStep {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.checkoutHeader {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
}
.checkoutHeader.active {
  background: #2874f0;
}
.checkoutHeader .stepNumber {
  display: inline-block;
  text-align: center;
  background: #eee;
  color: #2874f0;
  border-radius: 3px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 3px 7px;
}
.checkoutHeader.active .stepNumber {
  background: #fff;
}
.stepTitle {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #878787;
  margin-left: 15px;
}
.checkoutHeader.active .stepTitle {
  color: #fff;
}
.loggedInId {
  font-size: 12px;
  margin: 0px 0 10px 60px;
}

.addressContainer {
  box-sizing: border-box;
  padding: 20px;
  background: #f5faff;
}
.addressinfo {
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
}
.addressDetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 12px;
  color: #333;
}
.addressType {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  background: #eee;
  font-weight: 500;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 2px;
  color: #777777;
}
.fullAddress {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 18px;
}
.stepCompleted {
  padding: 0 0 20px 60px;
  font-size: 12px;
}
