.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #eee;
  padding-top: 60px;
  box-shadow: inset 0 0 2px gray;
  padding-right: 0;
  padding-left: 0;
}
.sidebar a {
  display: block;
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  list-style: none;
  text-align: left;
}
.sidebar ul li a {
  display: block;
  color: #333;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 5px 0 5px 10px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}
.sidebar ul li a.active {
  background: #333;
  color: #fff;
}
.key {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}

.value {
  font-size: 14px;
  font-family: sans-serif;
}
.productImageContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.productImageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal-header {
  padding: 5px 15px;
  background-color: #333;
}

.modal-title {
  font-size: 18px;
  color: white;
}

.modal-footer {
  padding: 5px 15px;
}
.actionBtnContainer {
  display: flex;
  align-items: center;
}
.actionBtnContainer > button {
  border: none;
  margin: 0 5px;
  font-size: 14px;
}
.orderTrack {
  width: 500px;
  display: flex;
}
.orderStatus {
  width: 33.33%;
  height: 5px;
  background: #777;
  position: relative;
  font-size: 12px;
}
.orderStatus.active {
  background: #26a541;
}
.orderStatus:last-child {
  width: 0;
}
.orderStatus .point {
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 8px;
  background-color: #777;
  top: -5px;
}
.orderStatus .point.active {
  background-color: #26a541;
}
.orderInfo {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: -26px;
  transform: translateX(-50%);
}

.title {
  font-size: 14px;
  font-weight: 600;
}
.value {
  font-size: 12px;
  text-transform: capitalize;
}
